* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --alignText: center;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(./background.jpg) no-repeat;
}

.card{
    position: absolute;
    transform: translate(75%, 10%);
    box-shadow: -5px 3px 33px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 3px 33px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 3px 33px 2px rgba(0,0,0,0.75);
    border-radius: 50%;
}

.card-body{
    border-radius: inherit;
    display: flex;
    background-color: transparent;
    width: 40vw;
    height: 85vh;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header{
    text-align: var(--alignText);
    padding: 30px;
    margin-top: 10px;
}

h1{
    color: #c56663;
    margin-top: 5px;
    font-size: 6rem;
    text-shadow: 4px 3px 0 #838383, 2px 0px 2px rgba(237, 104, 64, 0);
    line-height: 85%;
    font-family: 'Dancing Script', cursive;
}

h3{
    color: #4f6c86;
    margin-top: 10px;
    font-size: 1.rem;
    font-family: 'Handlee', cursive;
    font-weight: bold;
}

.description{
    text-align: var(--alignText);
    padding: 15px 50px;
}

p{
    color: #c56663;
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: 'Handlee', cursive;
}

.circle{
    position: absolute;
    border-radius: 50%;
    width: 40vw;
    z-index: -10;
    height: 85vh;
    border: 6px solid #fff;
    animation: scaleIn 1.8s infinite cubic-bezier(.30, .40, .35, .32);
}

@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }

@media (max-width: 500px) {
    .card{
        transform: translate(10%, 40%);
    }
    .card-body{
        width: 85vw;
        height: 55vh;
    }
    .header{
        padding: 10px;
    }
    img{
        width: 45px;
        filter: sepia(50%);
    }
    h1{
        font-size: 3.5rem;
    }
    h3{
        margin-top: 5px;
    }
    p{
        margin-bottom: 10px;
        font-size: 1.3rem;
    }
    .circle{
        width: 85vw;
        z-index: -10;
        height: 55vh;
    }
}